*

!.gitignore
!.gitconfig

!.bun
!.bun/install
!.bun/install/global
!.bun/install/global/*

!.config
!.config/ghostty
!.config/ghostty/config
!.config/gh/
!.config/gh/config.yml
!.config/zed/
!.config/zed/settings.json
!.config/zed/keymap.json

!.tmux.conf

!.zshenv
!.zprofile

!vscode
!vscode/settings.json
!vscode/keybindings.json