[user]
	name = Sinclair Chen
	email = abc.sinclair@gmail.com
[core]
	editor = zed
[init]
	defaultBranch = mistress
[pull]
	ff = only
[mergetool "smerge"]
	cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
	trustExitCode = true
[merge]
	tool = smerge
[diff]
	algorithm = histogram
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = osxkeychain
[http]
	postBuffer = 157286400
[submodule]
	recurse = true
